services:
  relay-node-0:
    build:
      context: .
    container_name: relay-node-0
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.2
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-1:
    build:
      context: .
    container_name: relay-node-1
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.3
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-2:
    build:
      context: .
    container_name: relay-node-2
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.4
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-3:
    build:
      context: .
    container_name: relay-node-3
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.5
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-4:
    build:
      context: .
    container_name: relay-node-4
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.6
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-5:
    build:
      context: .
    container_name: relay-node-5
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.7
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-6:
    build:
      context: .
    container_name: relay-node-6
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.8
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-7:
    build:
      context: .
    container_name: relay-node-7
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.9
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-8:
    build:
      context: .
    container_name: relay-node-8
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.10
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

  relay-node-9:
    build:
      context: .
    container_name: relay-node-9
    environment:
      - SERVICE_NAME=relay-node
      - TOTAL_ROUNDS=5
    networks:
      mesh-net:
        ipv4_address: 172.20.0.11
        aliases:
          - relay-node
    # Mount the local './logs' folder into the container's '/app/logs'
    volumes:
      - ./logs:/app/logs

networks:
  mesh-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16 # 16 bits of address space to work with
